extends layout

block content
  .container
   h2 Benvenuto #{user} (#{mail})
   p Oggi &egrave; il #{date}
   div
    a(href="/account/upload") Vai all'upload |
    a(href="/account/users") Visualizza utenti |
    a(href="/account") Logout
   
