doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='#')
       h2 LOGO
    block content
    footer
     p Copyright bla blabla
