extends layout

block content
  .container
    h1 Crea il tuo account studente!
    form(method='post')
      .row
        .col-md-6.col-12
          input.tube-control(type='text', placeholder='username')
        .col-md-6.col-12
          input.tube-control(type='email', placeholder='E-Mail')
        .col-md-6.col-12
          input.tube-control(type='password', placeholder='password')
        .col-md-6.col-12
          input.tube-control(type='password', placeholder='conferma password')
        .col-12
          input.tube-button(type='submit', value='Registrati')
