extends layout

block content
  .container
   h1 Contatti Assistenza
   form(method='post')
    input.tube-control(type='email',placeholder='Inserisci la tua mail',name='email')
    textarea.tube-control(name='text',placeholder='Scrivi il testo')
    input.tube-button(type='submit', value='send')
   div(style='overflow-x: auto;')
    table
      tr
        td
          h2 Richieste Commerciali e assistenza attivazione account
        td
          a(href='mailto:tubestudents@edu.unidea.org')
            h3 tubestudents@edu.unidea.org
      tr
        td
          h2 Assistenza tecnica e segnalazione malfunzionamenti
        td
          a(href='mailto:it@tech.unidea.org')
            h3 it@tech.unidea.org
      tr
        td
          h2 Direzione Progetto
        td
          a(href='mailto:direzione.tubestudents@edu.unidea.org')
            h3 direzione.tubestudents@edu.unidea.org 