extends layout

block content
  div.content.text-center
    br
    .row
      .col-6 
        h2 #{name}
        h3 #{company}
      .col-6
        img(src=`${picture}` style='width:152px;height:152px')
